.toggle {
    /*background: url(../css/fonts/expand_less-24px.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
    margin: 0 2ch 0 1ch;*/
}

    /* .toggle::after{
    content: 'Expande';
}
 */
    .toggle.active {
        /*/background: url(../css/fonts/expand_more-24px.svg);
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: center;
        cursor: pointer;*/
    }

.toggle-full {
    /*position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 1rem;
    height: 1rem;*/
    /*background: url(../css/fonts/open_in_full-24px.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
    margin: 0 2ch 0 1ch;*/
}

    /* .toggle::after{
    content: 'Expande';
}
 */
    .toggle-full.active {
        /*background: url(../css/fonts/close_fullscreen-24px.svg);
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: center;
        cursor: pointer;*/
    }
