// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.test-item{
    &__container{
        display: grid;
        height: 100vh;
        grid-template-columns: minmax(auto ,0.2fr) .2fr 1fr;
        grid-template-rows: 0.15fr auto auto auto 1fr 0.15fr;
        grid-template-areas: 
        "aside-header header header"
        "aside question question"
        "aside option option"
        "aside answer answer"
        "aside supplement supplement"
        "aside footer footer";
        &_aside-header{
            grid-area: aside-header;
        }
        &_aside{
            position: relative;
            grid-area: aside;
             &:hover {
                 grid-column: 1 / 3;
             }
            height: 100%;
            overflow: scroll;
            input[type="button"] {
               display: none;
            }
        }
        &_header{
            grid-area: header;
        }
        &_question{
            grid-area: question;
        }
        &_option{
            grid-area: option;
        }
        &_answer{
            grid-area: answer;
        }
        &_supplement{
            grid-area: supplement;
        }
        &_footer{
            grid-area: footer;
        }
        
    }
}
.question-list {
    
    
    
}
