// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
$TestItemBreakPoint: screen-size(desktop);
.ss1{
    grid-area: ss1;
    
   text-overflow: ellipsis;
   margin : $grid-left-margin;
   min-width: 0;
}
.ss2{
 grid-area: ss2;
 text-overflow: ellipsis;
 overflow: scroll;
 min-width: 0;
 margin-left: 1px;
 margin : $grid-left-margin;
}
.ss3{
 grid-area: ss3;
 text-overflow: ellipsis;
   overflow: hidden;
   min-width: 0;
   margin : $grid-left-margin;
}
.ss4{
 grid-area: ss4;
 text-overflow: ellipsis;
   overflow: hidden;
   min-width: 0;
   margin-left: 1px;
   margin: 2px 2px 2px 2px;
   margin : $grid-right-margin;
   
}
.test-item{
    &__container{
        display: grid;
        height: 100vh;
        grid-template-columns: minmax(auto ,0.1fr) .2fr 1fr;
        grid-template-rows: 5ch 5ch 5ch auto auto auto 4ch auto 1fr 5ch auto auto;
        grid-template-areas: 
        "aside-header header header" 
        "aside-summary selection selection"
        "aside-summary nav nav"
        "aside question question"
        "aside question question"
        "aside option option"
        "aside answer-expend answer-expend" 
        "aside answer answer" 
        "aside supplement supplement" 
        "aside-legend supplement supplement" 
        "aside-legend supplement supplement" 
        "footer footer footer";
        @media screen and (min-width: $TestItemBreakPoint) {

  
            grid-template-columns: minmax(auto ,0.1fr) .2fr 1fr 2fr;
            grid-template-rows: 5ch 5ch 5ch auto auto auto 4ch auto 1fr 5ch auto auto;
            grid-template-areas: 
            "aside-header header header header" 
            "aside-summary selection selection selection"
            "aside-summary nav nav nav"
            "aside question question supplement"
            "aside question question supplement"
            "aside option option supplement"
            "aside answer-expend answer-expend supplement" 
            "aside answer answer supplement" 
            "aside answer answer supplement" 
            "aside-legend answer answer supplement" 
            "aside-legend answer answer supplement" 
            "footer footer footer footer";
        }
        padding-top: 1ch;
        &_answer-expend{
            grid-area: answer-expend;
            display: grid;
            grid-template-columns: 3rem 1fr;
            
            padding-left: 1ch;
        }
        &_aside-summary{
            display: grid;
            grid-area: aside-summary;
            grid-template-columns: 1fr   5ch;
            grid-auto-rows: 2.6ch;
            padding-left: 0.5ch;
        }
        &_aside-legend{
            grid-area: aside-legend;
            display: grid;
            grid-template-columns: 0.25fr 0.75fr;
            grid-auto-rows: 2.5ch;
            padding-left: 0.5ch;
            
        }
        
        &_aside-timer
        {
            grid-area: aside-timer;
            display: grid;
            padding-left: 0.5ch;
            grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto;
            grid-template-rows: 2ch 2ch 2ch 2ch ;
            grid-template-areas: 
            "th th th th th th th th th th th" 
            "th-1 th-2 th-3 th-4 th-5 th-6 th-7 th-8 th-9 th-10 th-11" 
            "tt tt tt tt tt tt tt tt tt tt tt" 
            "tt-1 tt-2 tt-3 tt-4 tt-5 tt-6 tt-7 tt-8 tt-9 tt-10 tt-11";
            .th{
                grid-area:th;
                font-size: 0.9rem;
            }
            .tt{
                grid-area: tt;
                font-size: 0.9rem;
            }
            @for $i from 1 to 12 {
                @include add-index-grid-area(th,"-",$i)
                
            }
            @for $i from 1 to 12 {
                @include add-index-grid-area(tt,"-",$i)
                
            }
        }
        &_aside-header{
            grid-area: aside-header;
            padding-left: 0.5ch;
            div{
                display: flex;
               
                align-items: center;
                
                height: 100%;
                
            }
           
        }
        &_aside{
            position: relative;
            grid-area: aside;
            padding-left: 0.5ch;
             &:hover {
                 grid-column: 1 / 3;
                 grid-row: 4 / -1;
                 z-index: 1002;
             }
            height: 100%;
            overflow-y: scroll;
            input[type="button"] {
               display: none;
            }
            
            ul {
                padding: 0;
                list-style-type: none;
            }
            &::-webkit-scrollbar {
                width: 0.5em;
              }
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(94, 38, 38, 0.3);
              }
               
              
              &::-webkit-scrollbar-thumb {
                background-color:darkgrey;
                outline: 1px solid slategrey;
              }
        }
        &_nav
        {
            grid-area: nav;
            display: grid;
            grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
            grid-template-areas: "nav-1 nav-2 nav-3 nav-4 nav-5 nav-6 nav-7";
            
            justify-content: space-around;
            margin: 2px;
            .nav-1{
                grid-area: nav-1;
                margin: $grid-left-margin;
                
            }
            .nav-2{
                grid-area: nav-2;
                margin: $grid-left-margin;
                align-self: center;
            }
            .nav-3{
                grid-area: nav-3;
                margin: $grid-left-margin;
                min-width: 0;
            }
            .nav-4{
                grid-area: nav-4;
                margin: $grid-left-margin;
            }
            .nav-5{
                grid-area: nav-5;
                margin: $grid-left-margin;
            }
            .nav-6{
                grid-area: nav-6;
                margin: $grid-left-margin;
            }
            .nav-7{
                grid-area: nav-7;
                margin: $grid-right-margin;
            }
        }
        &_selection{
            display: grid;
            word-wrap: normal;
            grid-template-columns: 1fr 1fr 1fr auto;
           grid-template-areas: "ss1 ss2 ss3 ss4";
            grid-area: selection;
            justify-content: space-between;
            
            gap: 0px;
            &_ss1{
                grid-area: ss1;
                
               text-overflow: ellipsis;
               margin : $grid-left-margin;
               min-width: 0;
            }
            &_ss2{
             grid-area: ss2;
             text-overflow: ellipsis;
             overflow: scroll;
             min-width: 0;
             margin-left: 1px;
             margin : $grid-left-margin;
            }
            &_ss3{
             grid-area: ss3;
             text-overflow: ellipsis;
               overflow: hidden;
               min-width: 0;
               margin : $grid-left-margin;
            }
            &_ss4{
             grid-area: ss4;
             text-overflow: ellipsis;
               overflow: hidden;
               min-width: 0;
               margin-left: 1px;
               margin: 2px 2px 2px 2px;
               margin : $grid-right-margin;
               
            }
        }
        
        &_header{
            display: grid;
            grid-area: header;
            
/*             justify-content: stretch;
            align-content: stretch;
            align-items: stretch;
            justify-items: stretch; */
            div{
                display: flex;
               
                align-items: center;
                
                height: 100%;
                
            }
        }
        &_question{
            grid-area: question;
            padding: 1ch;
        }
        &_option{
            padding-left: 1ch;
            grid-area: option;
            ul {
                padding: 0;
                list-style-type: none;
            }
            li{
                display: grid;
                grid-template-columns: 5ch 1fr auto;
                grid-auto-rows: minmax(4ch,auto);
            }
        }
        &_answer{
            grid-area: answer;
           
           
        }
        &_supplement{
            display: grid;
            grid-template-areas: "operation" "content";
            grid-template-rows: minmax(auto,3ch) auto;
            grid-area: supplement;
            padding-left: 1ch;
            padding-left: 1ch;
            overflow-y: scroll;
 /*            scrollbar-width: thin;
            scrollbar-color: darkgrey slategrey; */
            &::-webkit-scrollbar {
                width: 1em;
              }
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(94, 38, 38, 0.3);
              }
               
              
              &::-webkit-scrollbar-thumb {
                background-color:darkgrey;
                outline: 1px solid slategrey;
              }
              .operation{
                  display: flex;
                  grid-area: operation;
              }
              .content{
                  grid-area: content;
              }
        }
        &_footer{
            padding-left: 1ch;
            grid-area: footer;
        }
        
    }
}

[class^="question-list_item"] {
    display: grid;
    grid-template-columns: auto 1fr auto 1ch;
    grid-auto-rows: 3ch;
    align-items: center;
    gap: 3px;
   margin-top: 0.1rem;
}
/* checked*/
.form-check-input:checked {
    background-color: #0dfd85;
    border-color: #b98f8f;
}
/* Color when not in focuse*/
.form-check-input{
    background-color: oldlace;
    border: 3px solid rgba(70, 15, 15, 0);
}


.toggle{
    position: relative;
    align-self: center;
    width: 1rem;
    height: 1rem;
    background: url(/dist/css/fonts/expand_less-24px.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
    margin: 0 2ch 0 1ch;
}
/* .toggle::after{
    content: 'Expande';
}
 */

.toggle.active
{
  background: url(/dist/css/fonts/expand_more-24px.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  cursor: pointer;
}
.toggle-full{
    position: relative;
    align-self: center;
    width: 1rem;
    height: 1rem;
    background: url(/dist/css/fonts/open_in_full-24px.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
    margin: 0 2ch 0 1ch;
}
/* .toggle::after{
    content: 'Expande';
}
 */

.toggle-full.active
{
  background: url(/dist/css/fonts/close_fullscreen-24px.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  cursor: pointer;
}
/* .toggle.active::before{
    content: 'hide';
} */
.test-item__container_supplement.expande{
    z-index: 1000;
    grid-row: 6 / -1;
    grid-column: 1 / -1;
    
    
}
.test-item__container_supplement.full-expande{
    z-index: 1000;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    
    
}

.r5-2end_c1-2end{
    z-index: 1000;
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    
    
}

.legend-icon{
    justify-self: center;
    align-self: center;
    height: 1ch;
    width: 1ch;
    border-radius: 50%;
   margin-left: 0.1rem;
    &_answered{
        @extend .legend-icon;
        background-color: green;
    }
  
    &_marked{
        @extend .legend-icon;
        background-color: blueviolet;
    }
    &_wrong{
        @extend .legend-icon;
        background-color:red;
    }
}